<section class="section">
  <div class="container">
    <div class="columns">

    <div id="<%= dom_id event %>">
      <p>
        <strong>Date:</strong>
        <%= event.date %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= event.location %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= event.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= event.description %>
      </p>

    </div>
    </div>
  </div>
</section>
