<div class="column is-10">
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <div class="buttons">
    <% if current_user.id == @post.user_id %>
      <button class="button is-info is-light">
      <%= link_to "Edit this post", edit_post_path(@post) %>
    <% end%>
    
    </button>
      <button class="button is-info is-light">
    <%= link_to "Back to posts", posts_path %>
    </button>

    <% if current_user.id == @post.user_id %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "button is-danger is-light" %>
    <% end%>
  
  </div>
</div>
