<div data-controller="variant">
  <%= form_with(model: car) do |form| %>
    <% if car.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

        <ul>
          <% car.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <table>
      <tr >
          <th>Variant</th>
          <th>Your input</th>
      </tr>
    </table>
    <table>
      <tr>
        <%= form.fields_for :variants do |variants_form| %>
          <div>
              <%= render "variant", f: variants_form %>
          </div>
        <% end %>
      </tr>
    </table>
    <button data-action="variant#addVariant">
      Add variant
    </button>
    <hr/>
    <br/>
    <div>
      <%= form.submit "Create car with variants" %>
    </div>
  <% end %>
</div>
