<h1>Create a new post</h1>

  <%= form_with model: Post.new do |form| %>
    <div>
        <strong><%= form.label :title %></strong>
    </div>
    <div>
        <%= form.text_field :title, placeholder: "Enter a title" %>
    </div>

    <br/>

    <div>
        <strong><%= form.label :body %></strong>
    </div>
    <div>
        <%= form.text_area :body, placeholder: "Write your post", "cols" => 40, "rows" => 20 %>
    </div>

    <br/>

    <%= form.submit "Create" %>
  <% end %>